@font-face {
    font-family: JosefinSans-Bold;
    src: url(../fonts/Josefin_Sans/static/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: JosefinSans-Regular;
    src: url(../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: JosefinSans-SemiBold;
    src: url(../fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

.bgGif{
    background: url(../assets/San\ Diego.gif) no-repeat center center fixed;
    background-size: cover;
}

.bgBox{
    backdrop-filter: blur(10px) brightness(100%);
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.6) 0%,rgba(2.23, 32.01, 59.5, 0.85) 50%, rgba(10.4, 30.96, 49.94, 0.85) 100%);
    margin: 3% 5% 3% 5%;
    border-radius: 20px;
    box-shadow: 0px 4px 35px #000000;
    height: auto;
}

.currentBox{
    background-image: linear-gradient(#001446, #384462);
    border-radius: 25px;
    width: auto;
    height: auto;
}

p{
    color: white;
}

.ctWText{
    font-size: 64px;
    font-family: JosefinSans-Bold;
}

.locationText{
    font-size: 40px;
    font-family: JosefinSans-Regular;
}

.tempText{
    font-size: 150px;
    color: white;
    font-family: JosefinSans-Regular;
}

.weatherCondText{
    font-size: 48px;
    font-family: JosefinSans-SemiBold;
}

.detailText{
    font-size: 32px;
    font-family: JosefinSans-Regular;
}

.sun {
    position: absolute;
    width: auto;
    height: auto;
    left: 0%;
    top: 12%
}

.btnFCText{
    font-size: 50px;
    font-family: JosefinSans-Regular;
    height: 61px;
    color: white;
}

.borderFC{
    border-right: 2px solid white;
    height: 100%;
    /* border-width: 2px; */
}

.colBorder{
    border-right: 4px solid white;
    height: 100%;
    margin-bottom: 5%;
    border-width: 4px;
}

.btnFlex{
    display:flex;
    justify-content: start;
}

.btnBorder{
    border: none;
}
 
.searchBox {
    width: 620px;
    margin: 10px 10px 10px 10px;
    padding: 15px 35px 15px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
    background-color: rgba(255, 255, 255, .26);
    color: white;
    padding-left: 60px;
    font-family: JosefinSans-Regular;
    font-size: 20px;
  }

::placeholder{
    color: white;
    opacity: 1;
    font-size: 20px;
    font-family: JosefinSans-Regular;
}
.searchBtn {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -620px;
  }

.searchSpacing{
    padding-top: 2%;
    margin-left: 60px;
}

.accordSize{
    border-radius: 25px;
}

.accordHeader{
    color: white;
    
}

.forcastBgColor{
    background: linear-gradient(180deg, rgba(0, 20, 70, 1), rgba(56, 68, 98, 1));
    border-radius: 10px 10px 10px 10px;
}

.transBg{
    background-color: transparent;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: white;
}

.weekText{
    font-family: JosefinSans-SemiBold;
    font-size: 40px;
}

.forecastHeader{
    font-family: JosefinSans-Bold;
    font-size: 64px;
    display: flex;
    justify-content: start;
}

.mon{
    margin-right: 80px;
}

.tue{
    margin-right: 98px;
}

.wed{
    margin-right: 80px;
}

.thu{
    margin-right: 95px;
}

.fri{
    margin-right: 115px;
}

.hFont{
    font-size: 40px;
    font-family: JosefinSans-SemiBold;
    margin-left: 5%;
    color: #FFFFFF;
}

.lFont{
    font-size: 40px;
    font-family: JosefinSans-SemiBold;
    margin-left: 2%;
    color: #A8A8A8;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300A3FF'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

.dropMon{
    margin-right: 50px;
    font-size: 40px;
    font-family: JosefinSans-SemiBold;
}
.dropWeather{
    font-size: 64px;
    font-family: JosefinSans-Regular;
}

.dropF{
    font-family: JosefinSans-Regular;
    font-size: 40px;
}

.dropC{
    font-family: JosefinSans-Regular;
    opacity: 55%;
    color: #FFFFFF;
    font-size: 30px;
}

.dropType{
    font-size: 40px;
    font-family: JosefinSans-Regular;
}

.dropFontType{
    font-size: 20px;
}


.favSearch{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
}